@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* background-color: rgba(17,13,31,255); */
    background-color: rgb(64, 54, 100);
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}
